a {
  text-decoration: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 40px;
    height: auto;
    padding: 70px;
    margin:auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
  display: flex;
    flex-direction: row;
    justify-content: center;
  width: 230px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: rgb(231, 178, 63);
  border: none;
  margin: 5px;
  align-items: center;
  text-align: center;
}